flows.json
[{"id":"b926535a.09eb8","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"5b9f8ec2.dc75b","type":"watson-conversation-v1","z":"b926535a.09eb8","name":"","workspaceid":"e883233b-1e81-4d87-8751-d75695290621","multiuser":false,"context":true,"empty-payload":false,"service-endpoint":"https://api.us-south.assistant.watson.cloud.ibm.com/instances/538433f2-e1d5-4167-976c-916b821c13db","timeout":"","optout-learning":false,"x":400,"y":220,"wires":[["d2a74e1.3bc04b"]]},{"id":"6ceca83e.4e1c78","type":"debug","z":"b926535a.09eb8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":710,"y":120,"wires":[]},{"id":"d2a74e1.3bc04b","type":"function","z":"b926535a.09eb8","name":"parsing","func":"// msg.payload.text = \"\";\n// if(msg.payload.context.webhook_result_1){\n//     for(var i in msg.payload.context.webhook_result_1.results){\n//         msg.payload.text=msg.payload.text+\"\\n\"+msg.payload.context.webhook_result_1.results[i].text;\n//     }\n//     msg.payload = msg.payload.text;\n// }\n// else\nmsg.payload = msg.payload.output.text[0];\nreturn msg;","outputs":1,"noerr":0,"x":560,"y":240,"wires":[["4f3db12a.2cf51","6ceca83e.4e1c78"]]},{"id":"4a8b348.a5f94cc","type":"ui_form","z":"b926535a.09eb8","name":"","label":"","group":"a5287e80.12eda","order":1,"width":0,"height":0,"options":[{"label":"Enter your input","value":"text","type":"text","required":true,"rows":null}],"formValue":{"text":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":70,"y":320,"wires":[["3bfe24a7.d2712c"]]},{"id":"3bfe24a7.d2712c","type":"function","z":"b926535a.09eb8","name":"input parsing","func":"msg.payload = msg.payload.text;\nreturn msg;","outputs":1,"noerr":0,"x":250,"y":340,"wires":[["93f2014d.93691","5b9f8ec2.dc75b"]]},{"id":"93f2014d.93691","type":"ui_text","z":"b926535a.09eb8","group":"a5287e80.12eda","order":2,"width":0,"height":0,"name":"","label":"you","format":"{{msg.payload}}","layout":"row-left","x":410,"y":380,"wires":[]},{"id":"4f3db12a.2cf51","type":"ui_text","z":"b926535a.09eb8","group":"a5287e80.12eda","order":3,"width":8,"height":7,"name":"","label":"Bot","format":"{{msg.payload}}","layout":"col-center","x":730,"y":340,"wires":[]},{"id":"a5287e80.12eda","type":"ui_group","z":"","name":"Chat Bot","tab":"c8252a8e.f19428","order":1,"disp":true,"width":8,"collapse":false},{"id":"c8252a8e.f19428","type":"ui_tab","z":"","name":"Customer-care","icon":"dashboard","disabled":false,"hidden":false}]